---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
---
<Layout>
	<div class="container flex flex-col items-stretch justify-start">
		<Header/>
		<main class="h-screen w-full">
		</main>
	</div>
</Layout>
