---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="container flex flex-col items-stretch justify-start">
        <main class="h-screen w-full">
            <h1 class="text-4xl font-bold">Topics</h1>
            <p class="text-lg">This is the topics page.</p>
        </main>
    </div>
</BaseLayout>