---
---
<div class="flex justify-center items-center my-10">
    <svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.12 7.99" class="w-24">
        <path d="M1.06,4c3.33,3.33,6.67,3.33,10,0,3.33-3.33,6.67-3.33,10,0s6.67,3.33,10,0,6.67-3.33,10,0,6.67,3.33,10,0,6.67-3.33,10,0,6.67,3.33,10,0,6.67-3.33,10,0,6.67,3.33,10,0" class="fill-none stroke-amber-500 stroke-2"/>
    </svg>
</div>